[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
selenium = "4.17.2"
pydantic = "*"
jupyter = "*"
webdriver-manager = "*"
kafka-python = "*"
pytchat = "*"

[requires]
python_version = "3.9"
